@charset "UTF-8";



body{background:url(../images/bk.jpg) repeat-x #fff; }
.falsePadding{height:17px;}

/* letters and numbers */
#boardLettersTop{padding:7px 0px 5px 38px; clear:both;}
*+html #boardLettersTop{/*if IE */ padding:3px 0px 5px 40px;}
#boardLettersTop .letterClass{ float:left; color:#FFF; text-align:center; width:50px; font-weight:bold;}
.number{padding:21px 10px 13px 15px; color:#fff; font-weight:bold;}
.specialUIBack{background:#213541;}
h3.specialUIBack{background:url(../images/mlTop.jpg) repeat-x #cdcdcd; color:#333; padding:4px; margin-bottom:6px;}
#numbers{float:left;}

.falsePadding{height:17px;}
.clear{float:none; clear:both;}


#OuterWrapper{
	padding:24px 10px 18px 15px;
	width: 75%;
	min-width: 800px;
}

#boardMargin{ 
	width:460px; 
	height:460px; 
	margin:auto; 
	background: url(../images/marginBack.png); 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border:1px solid #fff;
	padding:24px 6px 6px 0px;
}

#boardWrapper{
	width:400px; 
	height:400px; 
	border:solid 1px #FFF; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	padding: 1px; 
	float:none;
	position: absolute;
	z-index: 10;
	margin-left: 30px;
	background:url(../images/space.jpg);
}


/* spaces */
.space{ width:50px; height:50px; float:left; background-image:url(../images/space.jpg);}
.whiteSpace{ background:url(../images/wSpace.jpg); -moz-border-radius:4px; -webkit-border-radius: 4px;}

.blackSpace{ background:url(../images/space.jpg);}
.space img{ width:50px; height:50px; position: absolute;}
/* these are the space highlighting styles */
.highlight{background-position:bottom right; }
.blank{background-position:-340px 0px;}

.draggableImg{border: none;}

.chessColorPicker{margin-left: 10px; font-weight: bold;}
	
#controls_container{margin: 20px;}
#piecepalete{float:right; width:140px; }
.paleteSpace{ background:url(../images/wSpace.jpg); -moz-border-radius:4px; -webkit-border-radius: 4px; }
.paleteSpace img{ width:50px; height:50px; position: relative; z-index: 20;}
.paletteImg{position: relative; z-index: 30;}
#okButton{font-weight: bold;}
#inputFen{width: 450px;}
#fenLabel{font-weight: bold;}


/**********************************************/
/***  Menu 									***/
/**********************************************/
* 									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 600px; margin: 25px auto; } 
a									{ text-decoration: none; }
ul									{ list-style: none; border: thick;}
p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; margin-left: 20px; margin-top: 10px;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 180px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }
